/.idea
/temp
/connector/target
/connector/connector.iml
/message/message.iml
/message/target
/router/target
/router/.idea
/websocket_connector/.idea
/websocket_connector/target
/websocket_connector/websocket_connector.iml
/compute/target/
/compute/src/main/java/com/mycompany/im/compute/adapter/service/keyword.txt
/compute.error
/compute.log
/peformance_test/.idea
/peformance_test/target
/compute/logs
/logs
/message/message.error
/message/message.log
/performance_test/.idea
/performance_test/target
/naming/target/
/naming/logs
/message/logs
/performance_test/logs
/tail/target/