<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="fileEncoding" value="UTF-8" />
        <property name="localOverride" value="true"/>
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="locations">
            <list>
                <value>classpath:compute.properties</value>
                <value>file:///opt/im_compute/config/compute.properties</value>
            </list>
        </property>
    </bean>

    <bean id="kafka.brokers" class="java.lang.String">
        <constructor-arg value="${kafka.brokers}"/>
    </bean>
    <bean id="topic" class="java.lang.String">
        <constructor-arg value="${topic}"/>
    </bean>

</beans>