<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!-- ===================================================================== -->
<!--                                                                       -->
<!--  Log4j Configuration                                                  -->
<!--                                                                       -->
<!-- ===================================================================== -->

<!-- $Id: log4j.xml 56612 2006-09-07 15:12:39Z thomas.diesler@jboss.com $ -->

<!--
	| For more configuration infromation and examples see the Jakarta Log4j
	| owebsite: http://jakarta.apache.org/log4j
-->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

	<!-- ================================= -->
	<!-- Preserve messages in a local file -->
	<!-- ================================= -->

	<!-- A time/date based rolling appender -->
	<appender name="FILE" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${ijimu.sky.root}/WEB-INF/logs/log.txt" />
		<param name="MaxFileSize" value="512KB" />
		<param name="MaxBackupIndex" value="0" />
		
		<layout class="org.apache.log4j.PatternLayout">
			<!-- The default pattern: Date Priority [Category] Message\n -->
			<param name="ConversionPattern" value="%d{MM-dd HH:mm:ss.SSS} %-5p [%c] %m%n" />

			<!-- The full pattern: Date MS Priority [Category] (Thread:NDC) Message\n
				<param name="ConversionPattern" value="%d %-5r %-5p [%c] (%t:%x) %m%n"/>
			-->
		</layout>
	</appender>

	<!-- ============================== -->
	<!-- Append messages to the console -->
	<!-- ============================== -->

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		
		<layout class="org.apache.log4j.PatternLayout">
			<!-- The default pattern: Date Priority [Category] Message\n -->
			<param name="ConversionPattern"
				value="%d{MM-dd HH:mm:ss.SSS} %-5p [%c{1}] %m%n" />
		</layout>
	</appender>

<!--    <logger name="cn.ijimu">
        <level value="DEBUG" />
    </logger>

	<logger name="java.sql">
		<level value="DEBUG" />
	</logger>-->
	
	<logger name="com.alibaba.druid.pool.DruidDataSource">
        <level value="WARN" />
    </logger>
	
	<logger name="org.springframework">
        <level value="WARN" />
    </logger>

	<logger name="org.hibernate">
		<level value="WARN" />
	</logger>
		
	<!-- ======================= -->
	<!-- Setup the Root category -->
	<!-- ======================= -->

	<root>
		<level value="INFO" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</root>
	
</log4j:configuration>
